{% extends 'OasisMembers/base-generic.html' %}

{% block title %}Oasis Meeting @ {{ meeting.Time }}{% endblock %}

{% block content %}

<!--
<div style="position:absolute; right:20px;">
  <a href="{% url 'OasisMembers:meetings' %}">Back to meetings list</a>
</div>
-->

<h1>Meeting @ {{ meeting.Time }}</h1>

<p>
<strong>Technique:</strong> {{ meeting.Technique }} <br/>
<strong>Coordinators:</strong>
{% if coordinator_attendance.first %}
{% for attendee in coordinator_attendance %}
<a href="{% url 'OasisMembers:member' attendee.Member.id %}">{{ attendee.Member }}</a> &nbsp;
{% endfor %}
{% else %}
<em>no coordinators</em>
{% endif %}
<br/>
</p>

<p>
<strong>Attendees:</strong><br/>
{% for attendee in meeting.attendee_set.filter %}
<a href="{% url 'OasisMembers:member' attendee.Member.id %}">{{ attendee.Member }}</a><br/>
{% endfor %}
</p>

{% endblock %}

