{% extends 'OasisMembers/base-generic.html' %}

{% block title%}Oasis Member {{ member.FullName }}{% endblock %}

{% block content %}

<div style="position:absolute; right:20px;">
  <a href="{% url 'OasisMembers:members' %}">Back to members list</a>
</div>

<h1>{{ member.FullName }}</h1>

{% if member.IsCurrent %}
Current Member
{% else %}
Not a current member
{% endif %}
{% if member.IsLeader %}
<br/>
A Course Leader
{% endif %}
{% if member.HasSpotlight %}
<br/>
Has a spotlight
{% endif %}

<p>
  <strong>Abilities:</strong>
  {{ member.Ability1 }}, {{ member.Ability2 }},
  {{ member.Ability3 }}, {{ member.Ability4 }}
  <br/>
  <strong>Number of Guides:</strong> {{ member.NumberOfGuides }}
  <br/>
  <strong>Life Purpose:</strong> {{ member.LifePurpose }}
  <br>
  <strong>Course Contribution:</strong> {{ member.CourseContribution }}
</p>

<p>
  <strong>Email:</strong>
  {% if member.email %}
  <a href="mailto:{{ member.email }}">{{ member.email }}</a>
  {% endif %}
  <br/>
  <strong>Location:</strong> {{ member.Location }}
  <br/>
</p>

<p>
  <strong>Notes:</strong> {{ member.Notes }}
  <br/>
  <a href="{% url 'OasisMembers:member-notes-edit' member.id %}">Edit Notes</a>
</p>

<p>
  <strong>Meetings Coordinated:</strong><br/>
  {% for meeting in member.MeetingsCoordinated.filter %}
  <a href="{% url 'OasisMembers:meeting' meeting.id %}">{{ meeting }}</a><br/>
  {% endfor %}
</p>

<p>
  <strong>Meetings Co-Coordinated:</strong><br/>
  {% for meeting in member.MeetingsCoCoordinated.filter %}
  <a href="{% url 'OasisMembers:meeting' meeting.id %}">{{ meeting }}</a><br/>
  {% endfor %}
</p>

<p>
  <table>
    <tr>
      <th>Technique</th>
      <th>Number of Meetings Attended</th>
    </tr>
    {% for technique in techniquesNotAttended %}
    <tr>
      <td>{{ technique.Name }}</td>
      <td>0</td>
    </tr>
    {% endfor %}
    {% for technique in techniquesAttended %}
    <tr>
      <td>{{ technique.Name }}</td>
      <td>{{ technique.NumMeetings }}</td>
    </tr>
    {% endfor %}
  </table>
</p>

{% endblock %}

